<div class="card-container">
    <mat-card *ngFor="let cours of pagedCourses" class="course-card">
        <app-carousel [cours]="cours"></app-carousel>
        
        <mat-card-content>
            <p>{{ cours.description }}</p>
            <p *appHasRole="'participant'"><strong>Contact:</strong> {{cours.availabilities[0].trainer?.email}}</p>
            <p><strong>Period:</strong> {{ cours.startDate | date }} <strong>-</strong> {{ cours.endDate | date }}</p>
            <ng-container *ngIf="showRegisterButton === false">
                <p *appHasRole="'participant'">Your registration status is: <strong>{{ getRegistrationStatus(cours) }}</strong></p>
            </ng-container>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Schedule</mat-panel-title>
                </mat-expansion-panel-header>
                <p [innerHTML]="getScheduleHtml(cours.availabilities)"></p>
            </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions>
            <ng-container *ngIf="showRegisterButton === true">
                <button mat-button (click)="register(cours)" *appHasRole="'participant'">Register</button>
            </ng-container>
            <ng-container *ngIf="showRegisterButton === false">
                <button mat-flat-button (click)="unregister(cours)" color="warn" *appHasRole="'participant'">Unregister</button>
                <button mat-button (click)="onViewParticpants(cours)" *appHasRole="'trainer'">View participants</button>
                <button mat-button (click)="onEditCours(cours)" *appHasRole="'trainer'">Edit</button>
                <button mat-flat-button (click)="onDeleteCours(cours)" color="warn" *appHasRole="'trainer'">Delete</button>
            </ng-container>
        </mat-card-actions>
    </mat-card>
</div>

<mat-paginator [length]="participantCourses.length"
                [pageSize]="pageSize"
                hidePageSize="true"
                (page)="onPageChange($event)">
</mat-paginator>

<ng-container *ngIf="showRegisterButton === false">
    <button mat-fab extended class="add-course-button" (click)="navigateToCoursEditor()" *appHasRole="'trainer'">
        <mat-icon>add</mat-icon>
        New
    </button>
</ng-container>